.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    opacity: 0;
    transition: opacity 100ms ease;
    cursor: default;

    &:hover {
        opacity: 1;
    }

    .grabber {
        cursor: grab;
    }

    .spawner {
        cursor: pointer;
    }
}

.wrapper {
    display: flex;
}
